html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.location-item {
  padding: 15px;
}

.location-item:hover {
  background-color: lightblue;
  color: white;
}

.selection-box input {
    border: 2px solid red;
}

.selection-box {
  background-color: white;
  opacity: 0.8;
  height: 100%;
  width: 18%;
  border: 1px solid red;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

#map {
  height: 100%;
  width: 100%;
}

.infowindow {
  overflow-y: scroll;
  width: 400px;
  height: 400px;
}


#pano {
  width: 365px;
  height: 200px;
}

.text {
  font-size: 12px;
}

@media (max-width: 768){
  .selection-box {
    min-width: 200px;
  }

  .infowindow {
    width: 200px;
    height: 200px;
}

  #pano {
    width: 165px;
    height: 100px;
  }

}

}